{erl_opts, [debug_info]}.
{deps, [
  {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.9.2"}}}
  ]}.

{shell, [
   {config, "config/sys.config"},
    {apps, [chef_infra_bench]}
]}.

{relx, [{release, {chef_infra_bench, "0.0.1"},
         [chef_infra_bench]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.